body{
	height: 2500px;
	padding: 0px;
	margin: 0px;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.topbar{
	height: 40px;
	background-color: #333;
	border: 1px solid black;
}

.container{
	margin: 0 auto;
	width: 1226px;
	border: 1px solid black;
	text-align: center;
}

/*.container::before , .container::after{
	content: "";
	display: table;
}*/

.container::before, .container::after {
    content: "";
    display: table;
}

.container::after{
	clear: both;
}

.topbar-nav{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 0px;
}

.topbar-nav span{
	font-size: 12px;
	color: #424242;
	font-family: sans-serif;
	margin: 0.5em;
}

.topbar-cart span{
	font-size: 12px;
	color: #424242;
	font-family: sans-serif;
	margin: 0.5em;
}

.topbar-info span{
	font-size: 12px;
	color: #424242;
	font-family: sans-serif;
	margin: 0.5em;
}


.topbar-info,.topbar-cart{
	float: right;
}

.topbar-info a{
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #424242;
	font-size: 12px;
	padding: 0 5px;
}

.topbar a{
	font-size: 12px;
	color: #b0b0b0;
}

.topbar a:hover {
	color: #fff;
}

.topbar-cart a{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #424242;
	width: 120px;
}

.topbar-cart span{
	margin-left: -4px;
	font-size: 12px;

}

.topbar-cart a:hover{
	background-color: #fff;
	color: #ff6700;
}

.topbar-info a:hover{
	color: #fff;

}

a{
	text-decoration: none;
}
